# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/
env/

# IDE and Editor configs
.vscode/
.idea/
*.swp
*.swo

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
